{% block footer %}
<!-- Footer-->

<div
  class="d-flex align-items-center justify-content-center flex-column col-lg-7 col-xl-6 col-xxl-5 text-center mx-auto mt-5 px-4 px-md-0 mt-lg-10"
  data-scroll-section
>
  <h4
    class="display-5 mb-5"
    data-scroll
    data-scroll-speed=".8"
    data-scroll-delay="0.05"
  >
    Ready to discuss your project requirements?
  </h4>
  <a href="{% url 'main:contact' %}" class="btn btn-primary">Get In Touch</a>
</div>


<footer
  class="border-top mt-10 pt-5 pb-8 {{configClassList}} {{classList}}"
  data-scroll-section
>
  <div class="container d-flex justify-content-between">
    <p class="small">All rights reserved. © 2023.</p>
    <ul class="list-unstyled d-flex align-items-center">
      {% for social in socials %}
      <li class="ms-3">
        <a class="text-decoration-none text-muted" href="{{social.link}}"
          ><i class="ri-{{social.name}}-fill"></i
        ></a>
      </li>
      {% endfor %}
    </ul>
  </div>
</footer>
<!-- / Footer-->

{% endblock footer %}
