{% extends 'base.html' %}{% load static %}

<!-- title-->
{% block title %}{{title}}home{% endblock title %} 
{% block content %}
<!-- Main Section-->
<section class="py-3 {{ config.classes.content }}">
  <!-- Page Content Goes Here -->

  <div class="container" data-scroll-section>
    <!-- Hero-->
    {% include 'partials/widgets/hero.html' %}
    <!-- /Hero-->

    <!-- Latest Projects Slideshow Top-->
    <div>
      {% include 'partials/content/subtitle.html' %}
      <div class="position-relative">
        {% include 'partials/swiper/swiper-latest-top.html' %}
      </div>
    </div>
    <!-- / Latest Projects Slideshow Top-->

    <a 
    class="link-body"
    href="{% url 'main:portfolio'%}"
    >View My Work</a
  >


  <!-- Experience-->
  {% comment %} {% include 'partials/widgets/experience.html' %} {% endcomment %} 

  <!-- / Experience -->
  </div>



  <!-- /Page Content -->
</section>
<!-- / Main Section-->
{% endblock content %}
